<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2022-09-06T09:23:38Z</date>
	<key>WorkspacePath</key>
	<string>/Users/yumiba/Desktop/workspace/99.その他/flutter_sample_app/macos/Runner.xcworkspace</string>
</dict>
</plist>
